/* tablet apps */
@media only screen and (min-width: 500px) and (max-width : 1024px) {



body{
    font-size: 20px;   
    line-height: 1.8em;

}

h3{
    letter-spacing: 2px;
    padding: 10px;
  }

   /* ========== Slogan Area =============== */
h1{
     width: auto;
     letter-spacing: 1px;
     font-size:2.3em;
   }

/* ==============  HOME PAGE ======================= */
.homepage{
    height: 88vh;
    margin:63px 0px;
    background-attachment: scroll;

  }


/* ============== CONTENT AREA  ======================= */
  .slide1{    
    height: 60vh;
    padding: 20vh 50px;
  }
  
  .line1{
    width: 80px;
    border-top: 3px solid rgb(46, 193, 119); 
  }
  

  .line3{ 
    width: 80px;
    border-top: 3px solid rgb(28, 1, 19);
  }
  
  
  .slide4{
     height: 80vh;
  }
  
  
  .line4{ 
    width: 80px;
    border-top: 3px solid white;
  }
  
  .profile{
    height: 70vh;
  }
  
  .lineProfile{ 
    width: 80px;
    border-top: 3px solid rgba(29, 89, 194, 0.80);
  }
  
/* <=============== Parallax Area =============================> */


.code-img{
  background-attachment: scroll;
}
  

.social{
   width: 100%;
   margin: 0px;
   position: relative;
   background: black;
}

a{
  text-decoration: none;
}


.social ul{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social ul li{
    list-style: none;
}

.social ul li a{
    width: 65px;
    height: 30px;
    color: #2BA098;
    font-size: 0px;
    text-align: center;
    line-height: 30px;
    margin:0px -5px 10px -5px;
    display:inline-block;

}


.social ul {    
    padding: 0px;
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
  }



.social ul li:hover a {
    color: #AC1010;
}

.social ul li {
    display: block;
    background: rgba(0, 0, 0, 0.36);
    width: 60px;    
    padding: 4px;
    margin: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.social ul li:hover {
    background: rgba(255, 255, 255, 0.4);
    }


.social ul li:hover i{
    color: #fff;
    background: green; 
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}



.social ul li i {
    margin-left: 0px;
    padding: 10px;
    font-size: 20px;
    color: #000;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background:#F9F5F5;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
   
}

input[type=text], input[type=email], textarea {
    width: 90%;
    padding: 2%;
    border: 1px solid #4D4343;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 0px;
}


input[type=submit],input[type=reset] {
    background-color: #5D3FEC;
    color: white;
    width: 100px;
    padding: 16px 20px;
    margin: 0px 25px 10px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}


input[type=submit]:hover ,input[type=reset]:hover, .close-thick:hover{
    background-color: #DFEF0F;
    color: black;
}

.container {
       
    display:none; 


#modal:target >.container{
    width: 80%;
    padding: 2%;
    margin: auto;
    border-radius: 5px;
    background-color: #EDE0E0;
    -webkit-box-shadow: 6px 29px 229px 160px rgba(28,29,31,1);
    -moz-box-shadow: 6px 29px 229px 160px rgba(28,29,31,1);
    box-shadow: 6px 29px 229px 160px rgba(28,29,31,1);
    display: block;
    position: relative;
    left: 51%;
    transform: translate(-60%, -50%);
  }
  

  
  .close-thick:after {
    content: '✖';
  }
  
  [class*='close-'] {
    color: #F20F0F;
    font: 20px/100% arial, sans-serif;
    position: absolute;
    right: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    top: 0px;
    border-radius: 50%;
  }


  #sidebar{
 
    height: 45px;



}